<div class="carousel">
  @if (slides.length > 0) {
    @for (slide of slides; track slide.src; let idx = $index) {
      @if (idx === currentSlide) {
        <img
          [src]="slide.src"
          class="slide"
          [@slideAnimation]="animationType"
        />
      }
    }
    <button class="control prev" (click)="onPreviousClick()">
      <span class="arrow left"></span>
    </button>
    <button class="control next" (click)="onNextClick()">
      <span class="arrow right"></span>
    </button>
    <div class="dot-div">
      @for (slide of slides; track slide.src; let idx = $index) {
        @if (idx === currentSlide) { 
           <span class="dot active" (click)="goToSlide(idx)"></span>
        }
        @else {
          <span class="dot" (click)="goToSlide(idx)"></span>
        }
      }
    </div>
  }
</div>