<footer class="footer">
    <div class="footer-container">
      <div class="footer-info">
        <h3>Huerta La Curtia</h3>
        <p>Dirección: La Curtía, 40, 33410, Asturias</p>
        <p>Teléfono: 669 911 932</p>
        <p>Email: huertalacurtia&#64;gmail.com</p>
      </div>
      
      <div class="footer-social">
        <h4>Síguenos</h4>
        <div class="social-icons">
          <span>
          <a href="https://instagram.com/huertalacurtia" target="_blank">
            <img ngSrc = "../../../assets/icons/instagram-brands.svg" alt="Instagram" width="50" height="50"/>
          </a>
        </span>
        <span>
            <img ngSrc = "../../../assets/icons/whatsapp-brands.svg" alt="WhatsApp" width="50" height="50"/>
        </span>
        </div>
      </div>
    </div>
    
    <div class="footer-bottom">
      <p>&copy; {{ currentYear }} Huerta La Curtia. Todos los derechos reservados.</p>
    </div>
  </footer>
  