  h2 {
    text-align: center;
  }
  
  /* Calendario de temporada */
  .seasonal-calendar {
    background-color: var(--white);
  }
  
  .seasonal-calendar p {
    max-width: 800px;
    margin: 0 auto 30px;
  }
  
  .calendar-container {
    overflow-x: auto;
    margin-bottom: 20px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
  .calendar-header,
  .calendar-row {
    display: flex;
    min-width: 900px;
  }
  
  .calendar-header {
    background-color: var(--primary);
    color: var(--white);
    font-weight: 600;
  }
  
  /* .calendar-row:nth-child(even) {
    background-color: var(--gray-bg);
  } */
  
  .calendar-cell {
    flex: 1;
    padding: 12px 8px;
    text-align: center;
    border: 1px solid #e0e0e0;
  }
  
  .calendar-cell.product-name {
    flex: 2;
    text-align: left;
    font-weight: 600;
   color: var(--primary-dark);
  }
  
  .calendar-cell.available {
    background-color: #a8e6cf;
  }