<h3>Huerta La Curtia</h3>
<p>Dirección: La Curtía, 40, 33410, Avilés, Asturias</p>
<p>Teléfono: 669 911 932</p>
<p>Email: huertalacurtia&#64;gmail.com</p>
<p>Google maps: 
    <a href="https://www.google.es/maps/place/Huerta+La+Curtia/@43.5450763,-5.9591269,17z/data=!3m1!4b1!4m6!3m5!1s0xd369bf038585557:0xc9d455fb354bdd42!8m2!3d43.5450724!4d-5.956552!16s%2Fg%2F11v3t1882p?hl=es&entry=ttu&g_ep=EgoyMDI1MDUwNi4wIKXMDSoASAFQAw%3D%3D" target="_blank">
        <img src = "../../../assets/icons/google-maps.svg" alt="GoogleMaps" width="40" height="40"/>
    </a>
</p>