<header class="header">
  <div class="header-container">
    <div class="logo">
      <a routerLink="/inicio">
        <img ngSrc="../../../assets/logo/HLC.jpeg" alt="Huerta La Curtia" width="70" height="70" />
        &nbsp;
        <h1>Huerta La Curtia</h1> 
      </a>
    </div>
    <nav class="main-nav" [class.active]="isMenuOpen">
      <ul class="nav-list">
        @for (item of menuItems; track item.path) {
          <li class="nav-item">
            @if (item.label === 'Tienda') {
              <a href="https://huertalacurtia.pod.coop/1444/" target="_blank">
                 {{ item.label }}
              </a>
            }
            @else {
              <a 
                [routerLink]="item.path" 
                routerLinkActive="active" 
                [routerLinkActiveOptions]="{exact: item.path === '/inicio'}"
                (click)="isMenuOpen = false"
              >
                {{ item.label }}
              </a>
            }
          </li>
        }
      </ul>
    </nav>
    <div class="menu-toggle">
      <button (click)="toggleMenu()">
        <img ngSrc = "../../../assets/icons/lucide/menu.svg" alt="Menú" width="25" height="25"/>
      </button>
    </div>       
    <div class="switchTheme">
      <button (click)="switchTheme()">
        @if (isDarkMode) {
          <img ngSrc = "../../../assets/icons/lucide/sun.svg" alt="Modo claro" width="25" height="25"/>
        }
        @else {
          <img ngSrc = "../../../assets/icons/lucide/moon-star.svg" alt="Modo oscuro" width="25" height="25"/>
        }
      </button>
    </div> 
  </div>
</header>
  