<header class="header">
  <div class="header-container">
    <div class="logo">
      <a routerLink="/inicio">
        <img ngSrc="../../../assets/logo/HLC.jpeg" alt="Huerta La Curtia" width="70" height="70" />
        &nbsp;
        <h1>Huerta La Curtia</h1> 
      </a>
    </div>
    <nav class="main-nav" [class.active]="isMenuOpen">
      <ul class="nav-list">
        @for (item of menuItems; track item.path) {
          <li class="nav-item">
            @if (item.label === 'Tienda') {
              <a href="https://huertalacurtia.pod.coop/1444/" target="_blank">
                 {{ item.label }}
              </a>
            }
            @else {
              <a 
                [routerLink]="item.path" 
                routerLinkActive="active" 
                [routerLinkActiveOptions]="{exact: item.path === '/inicio'}"
                (click)="isMenuOpen = false"
              >
                {{ item.label }}
              </a>
            }
          </li>
        }
      </ul>
      <div class="theme-switch-wrapper">
        <label class="theme-switch" for="checkbox">
              <input type="checkbox" id="checkbox" (change)="switchTheme($event)"  />
              <div class="slider round"></div>
        </label>
        <span>{{ tipoModo }}</span>
      </div>
      <label class="menu-toggle" (click)="toggleMenu()" for="menu-bt">Menú</label><br>
    </nav>
  </div>
</header>
  