  .social-icons > div {
    padding-right: 10px;
    padding-left: 10px;
    display: inline-block;
  }
  
/* QR */
.qr-whastapp:hover,
.qr-telegram:hover {
  position: relative;
}

.qr-whastapp:hover:after {
  content: url(../../../assets/qr/qrcode_wthasapp.svg);
  display: block;
  position: absolute;
  bottom: 70px; 
  background-color: var(--secondary-dark);
  border-radius: 25px;
  right: -110px;
}

.qr-telegram:hover:after {
  content: url(../../../assets/qr/qrcode_telegram.svg);
  display: block;
  position: absolute;
  bottom: 70px; 
  background-color: var(--secondary-dark);
  border-radius: 25px;
  right: -110px;
}