<div class="social-icons-inline">
  <div>
    <a href="https://instagram.com/huertalacurtia" target="_blank">
      <div><img ngSrc = "../../../assets/icons/social-logos/instagram-dark.svg" alt="Instagram" width="40" height="40"/></div>
    </a>
  </div>
  <div class="qr-whastapp">
    <img ngSrc = "../../../assets/icons/social-logos/whatsapp.svg" alt="WhatsApp" width="40" height="40"/>
  </div>
  <div class="qr-telegram" >
    <img ngSrc = "../../../assets/icons/social-logos/telegram.svg" alt="Telegram" width="40" height="40"/>
  </div>
</div>
