<div class="social-icons">
    <div>
      <a href="https://instagram.com/huertalacurtia" target="_blank">
        <img ngSrc = "../../../assets/icons/Instagram_dark.svg" alt="Instagram" width="40" height="40"/>
      </a>
    </div>
    <div class="qr-whastapp">
      <img ngSrc = "../../../assets/icons/whatsapp.svg" alt="WhatsApp" width="40" height="40"/>
    </div>
    <div class="qr-telegram" >
      <img ngSrc = "../../../assets/icons/telegram.svg" alt="Telegram" width="40" height="40"/>
    </div>
  </div>