  /* Información de contacto */
  .info-grid {
    display:flex;
    justify-content:space-evenly;
    flex-wrap:wrap; 
    width:100%;
    text-align:center;
  }

  .faq-section,
  .friends-section {
    margin-top: -90px;
  }
  
  .faq-section h2,
  .friends-section h2 {
    text-align: center;
  }
  
  .card {
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  }
  